%body
  
  #st-container.st-container
    .svg-wrap
      %svg{:height => "64", :viewBox => "0 0 64 64", :width => "64"}
        %path#arrow-left-1{:d => "M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z"}/
      %svg{:height => "64", :viewBox => "0 0 64 64", :width => "64"}
        %path#arrow-right-1{:d => "M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z"}/
    %nav#menu.st-menu.st-effect
      %h2.icon.icon-stack 
      %ul
        %li
          %a{:href => "/"} 
            %i.icon-home
            %span Home

        %li
          %a{:href => "/collections/west"}
            %i.icon-featured
            %span Featured
      
        %li
          %a{:href => "/gallery/collection"}
            -link_to gallery_collection_path 
            %i.icon-collection
            %span Collection 
              
        %li
          %a{:href => "/articles/intro"}
            %i.icon-about
            %span Articles
            
        %li
          %a{:href => "/store/index"} 
            %i.icon-shop
            %span Store
    .st-pusher.asshole
      .header_img{:style => "background:url(/images/putin/ukraine_riot2.jpg); background-position:center; background-size:cover;"}
        
        .container
          / Top Navigation
          %section.color-5
            %nav.nav-circleslide
              %a.prev{:href => "/collections/west"}
                %span.icon-wrap
                  %svg.icon{:height => "32", :viewBox => "0 0 64 64", :width => "32"}
                    %use{"xlink:href" => "#arrow-left-1"}/
                %div
                  %img
                    = image_tag "profile/west.jpg"
              %a.next{:href => "/collections/west"}
                %span.icon-wrap
                  %svg.icon{:height => "32", :viewBox => "0 0 64 64", :width => "32"}
                    %use{"xlink:href" => "#arrow-right-1"}/
                %div
                  %img
                    = image_tag "profile/west.jpg"
    
      .main.clearfix
        .row#st-trigger-effects
          %a.main-nav{"data-effect" => "st-effect"}
            %i.icon-nav_burger
      

      .article_content.row
        .large-11.large-centered.column
          .author_info.large-2.column.right
            .image.large-12
              = image_tag "author1.jpg", size: "80x80", class: "author_icon"  
            .name.large-12.large-centered Kyle Salmon 
            .title.large-12.large-centered Asshole Editor

          .article_heading.large-5.left.column
            %h2 Vladimir Putin
            %h5 President of Russia

            %h6
              Born on 
              %span
                October 7, 1952
              in
              %span
                Leningrad, Russia



        .row
          .ah_article.start
            .body_copy.large-11.large-centered.column
              // Left Column
              .left_col.large-12.column
                .float_right.large-4.show-for-medium-up
                  = image_tag "profile/putin.jpg"
                .article_ah_title
                  THE GRAY CARDINAL WITH THREE LIVES

                %p
                  Russian government has never quite recovered from the destruction caused by the fall of the Soviet Union. Its inconsistency in the government presence has left a transparent view for the world to understand that Russian leaders have been far from trustworthy. President Putin has made this case very clear due to prior issues that western media have touched on in the past four years.

                .float_right.large-4.hide-for-medium-up
                  = image_tag "profile/putin.jpg"

                  
                %p
                  After completing college from Leningrad State University from where his family resided, Putin started his career as a KGB intelligence officer that he held until right before the collapse of the Soviet Union in 1991. The KGB, which real meaning translates to the “Committee for State Security” was a security agency that was built for the Soviet Union in 1954. Agents acted as internal security, intelligence and a covert police force for the ground to protect Russia from external and internal affairs. After the fall of the central government, Putin, now a colonel in the KGB would return home to explore further options in politics in supporting a liberal politician who would later win the election, granting Putin a step into Russian government.

                .float_left.large-5
                  = image_tag "putin/riot1.jpg"

                %p 
                  In 1999 the current president, Boris Yeltsin resigned and appointed Putin to continue as president of Russia until the upcoming elections. Putin was then re-elected in 2004 due to the uproar of September 11, Putin used the media to present a firm response to the terrorist threats, which would later help him win his second election.

                

                %p 
                  In march 2008, Putin would be secured to Russian’s prime minister, but then miraculously was re-re-elected into his third term of presidency, despite Russia’s two-term limit. Unfortunately, this is due to the persistent myth that Russia’s constitution is nothing more then a meaningless document that Mr. Putin overcame to achieve a unyielding central power. Putin exercised his power to engage above the systems of executive, legislative and judicial power. Although completely legal when looked at on paper, it was looked at as a huge violation of control.

                .float_right.large-6.quote_container
                  %h2 
                    “Those who
                    fight corruption
                    should be clean
                    themselves.”

                  
                // Last Paragraph
                %p 
                  Putin has since then used Russia’s weak policies to crippling the country’s parliamentary power and regulating a iron fist over the countries media sources. Putin has also been said that he might run for the upcoming 2018 election. If elected for his forth term, Putin would be in power for almost a quarter of a century which would make him Russia longest-serving leader since the age of Josef Stalin, the father of communism in former Soviet Russia.

              .left_col.large-12.column
                .float_left.large-6
                  = image_tag "putin/ukraine_riot1.jpg"
                .article_ah_title
                  Issues With Ukraine

                %p
                  The winter Olympics in Sochi Russia was an absolute goldmine for bad publicity in exposing some of Russia’s most transparent corruption. From accusations of money laundering to the uproar in the west over Putin’s anti-gay opinions, its safe to say that the winter Olympics couldn’t of ended faster for Russia’s president.

                  
                %p
                  Russia was reported on spending little over 12 billion in bidding as the 2014 host and then another 51 billion dollars in producing it, making it the most expensive games in the history of Olympics with almost the lowest number of events. 
                .float_right.large-6.quote_container
                  %h2 
                    “I want to remind you that Russia is one of the most powerful nuclear nations. This is a reality, not just words.”
                
                %p 
                  However after an interview with Dmitry Kozak, deputy prime minister who was leading the preparations of the winter Olympics explained that only 6 billion of that was budget was directed for the games. That makes 45 billion dollars going directly towards the development and “infrastructure”, making this story incredibly hard to believe. The Russian government wanted the world to believe that absurd amount of money was going directly towards transportation and venues. When we look at the number of events, it seems even worse. When compared to the Olympic games in Beijing in 2008 (which cost only 132mill), Sochi played only a third of the total event that in comparison to 2008. That means it only had a third of the number of athletes to transport and house and a third the number of events to build venues for.  

                %p 
                  When looking at where the rest of the 45 billion went, we look towards the private contracts involved. When mega events such as the Olympics or the World Cup are placed in a country, that country’s government will hire state-owned businesses to follow through with any work such as building venues or housing. When Russia’s government released those contractors’ names, Putin’s friends showed up in the very first group.  The Rotenberg brothers are Russia’s largest construction company for gas and electrical lines, are longtime friends to Vladimir Putin are we’re given a total of 21 government contracts. Those 21 government contracts added up to about 7 billion dollars.


                

                  
                // Last Paragraph
                %p 
                  

              
               
                


      

      



      
                
              
          

            
            
         
            
              

      .section_break
      .merch_section.row
        .section_header.large-3 MERCHANDISE
        .grid_rollover_1
          %figure.effect-cross
            = image_tag "vwhite.png", size: "350x250"
            %figcaption
              
              %p +
              %a{:href => "#"} View more
          %figure.effect-cross
            = image_tag "vwhite.png", size: "350x250"
            %figcaption
             
              %p +
              %a{:href => "#"} View more

          %figure.effect-cross
            = image_tag "vwhite.png", size: "350x250"
            %figcaption
              
              %p +
              %a{:href => "#"} View more
      .section_break
      .subscribe_section
        .container.row
          .headline.large-12.column
            %h2 
              Subscribe Today
              %span 
                ENTER YOUR E-MAIL ADDRESS TO GET UPDATES ON NEW ARTICLES…
          .email_input.large-10.right.column
            %input.input_textforum.large-10.column{:name => "firstname", :type => "text", :placeholder => "Enter E-mail Here"}/
            %input#button.input_button.large-2.column{:type => "submit", :value => "Submit"}/
          .social_line.large-12
            %h5 
              OR FOLLOW US ON TWITTER, FACEBOOK OR INSTAGRAM
              %span 
      .footer
        .row
          .info.large-12.column
            %a{:href => "#"} 
              Contact Us
            %span 
              |
            %a{:href => "#"} 
              Sources





  #email_confirm
    .container
      %h2 Thank You!
      %h5 Your E-mail has been added to our list!

      #exit
        Close and Go Back     





:javascript

  $(document).ready(function(){
    $("#email_confirm").hide();

    $("#button").click(function(){
      $("#email_confirm").fadeIn();
      $(".input_textforum").val('');
    });

    $("#exit").click(function(){
      $("#email_confirm").fadeOut();
    });

    $("#email_confirm").click(function(){
      $("#email_confirm").fadeOut();
    });
  });
  // Sidebar Effect

  var SidebarMenuEffects = (function() {

    function hasParentClass( e, classname ) {
      if(e === document) return false;
      if( classie.has( e, classname ) ) {
        return true;
      }
      return e.parentNode && hasParentClass( e.parentNode, classname );
    }

    // http://coveroverflow.com/a/11381730/989439
    function mobilecheck() {
      var check = false;
      (function(a){if(/(android|ipad|playbook|silk|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
      return check;
    }

    function init() {

      var container = document.getElementById( 'st-container' ),
        buttons = Array.prototype.slice.call( document.querySelectorAll( '#st-trigger-effects > a' ) ),
        // event type (if mobile use touch events)
        eventtype = mobilecheck() ? 'touchstart' : 'click',
        resetMenu = function() {
          classie.remove( container, 'st-menu-open' );
        },
        bodyClickFn = function(evt) {
          if( !hasParentClass( evt.target, 'st-menu' ) ) {
            resetMenu();
            document.removeEventListener( eventtype, bodyClickFn );
          }
        };

      buttons.forEach( function( el, i ) {
        var effect = el.getAttribute( 'data-effect' );

        el.addEventListener( eventtype, function( ev ) {
          ev.stopPropagation();
          ev.preventDefault();
          container.className = 'st-container'; // clear
          classie.add( container, effect );
          setTimeout( function() {
            classie.add( container, 'st-menu-open' );
          }, 25 );
          document.addEventListener( eventtype, bodyClickFn );
        });
      } );

    }

    init();

  })();